@charset "UTF-8";
button, textarea, input, a {
  border: none;
  outline: none;
  font-family: "Helvetica", "sans-serif" !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #C9C9C9; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #C9C9C9; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #C9C9C9; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #C9C9C9; }

a {
  text-decoration: none; }

html {
  overflow-x: hidden; }

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #272727;
  overflow-x: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  body .menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: transparent;
    transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    /* IE 9 */
    -moz-transform: translate3d(-100%, 0, 0);
    /* Firefox */
    -webkit-transform: translate3d(-100%, 0, 0);
    /* Safari 和 Chrome */
    -o-transform: translate3d(-100%, 0, 0);
    /* Opera */
    transition: transform 0.3s ease-in-out;
    z-index: 999; }
    body .menu.open {
      transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      /* IE 9 */
      -moz-transform: translate3d(0, 0, 0);
      /* Firefox */
      -webkit-transform: translate3d(0, 0, 0);
      /* Safari 和 Chrome */
      -o-transform: translate3d(0, 0, 0);
      /* Opera */ }
    body .menu .menu-content {
      width: 80%;
      height: 100%;
      margin-top: -60px;
      font-size: 0;
      background-color: #ffffff;
      z-index: 30;
      overflow-x: hidden; }
      body .menu .menu-content .header-logo {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid #dcdddd;
        box-sizing: border-box; }
        body .menu .menu-content .header-logo img {
          width: 118px;
          height: 40px;
          vertical-align: middle; }
      body .menu .menu-content .link-item {
        width: 100%;
        height: 48px;
        padding-left: 15px;
        border-bottom: 1px solid #dcdddd;
        box-sizing: border-box;
        transition: all 0.4s linear; }
        body .menu .menu-content .link-item .text {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100%;
          line-height: 48px;
          padding-right: 30px;
          box-sizing: border-box;
          font-size: 16px;
          color: #707070;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
          body .menu .menu-content .link-item .text:after {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            content: '';
            width: 24px;
            height: 24px;
            background: url("../img/menu-arrow-right.png") no-repeat center center;
            background-size: contain; }
          body .menu .menu-content .link-item .text .wallet-icon {
            width: 34px;
            height: 30px;
            background: url("../img/menu-wallet.png") no-repeat center center;
            background-size: contain;
            margin-right: 10px; }
          body .menu .menu-content .link-item .text .send-icon {
            width: 33px;
            height: 31px;
            background: url("../img/menu-send.png") no-repeat center center;
            background-size: contain;
            margin-right: 10px; }
          body .menu .menu-content .link-item .text .receive-icon {
            width: 33px;
            height: 30px;
            background: url("../img/menu-receive.png") no-repeat center center;
            background-size: contain;
            margin-right: 10px; }
          body .menu .menu-content .link-item .text .transLog-icon {
            width: 31px;
            height: 31px;
            background: url("../img/menu-transLog.png") no-repeat center center;
            background-size: contain;
            margin-right: 10px; }
          body .menu .menu-content .link-item .text .transSend-icon {
            width: 29px;
            height: 29px;
            background: url("../img/menu-transSend.png") no-repeat center center;
            background-size: contain;
            margin-right: 10px; }
        body .menu .menu-content .link-item:hover, body .menu .menu-content .link-item.active {
          background-color: #000000; }
          body .menu .menu-content .link-item:hover .text, body .menu .menu-content .link-item.active .text {
            color: #ffffff; }
            body .menu .menu-content .link-item:hover .text:after, body .menu .menu-content .link-item.active .text:after {
              background: url("../img/menu-arrow-right-selected.png") no-repeat center center;
              background-size: contain; }
            body .menu .menu-content .link-item:hover .text .wallet-icon, body .menu .menu-content .link-item.active .text .wallet-icon {
              width: 34px;
              height: 30px;
              background: url("../img/menu-wallet-selected.png") no-repeat center center;
              background-size: contain; }
            body .menu .menu-content .link-item:hover .text .send-icon, body .menu .menu-content .link-item.active .text .send-icon {
              width: 33px;
              height: 31px;
              background: url("../img/menu-send-selected.png") no-repeat center center;
              background-size: contain; }
            body .menu .menu-content .link-item:hover .text .receive-icon, body .menu .menu-content .link-item.active .text .receive-icon {
              width: 33px;
              height: 30px;
              background: url("../img/menu-receive-selected.png") no-repeat center center;
              background-size: contain; }
            body .menu .menu-content .link-item:hover .text .transLog-icon, body .menu .menu-content .link-item.active .text .transLog-icon {
              width: 31px;
              height: 31px;
              background: url("../img/menu-transLog-selected.png") no-repeat center center;
              background-size: contain; }
            body .menu .menu-content .link-item:hover .text .transSend-icon, body .menu .menu-content .link-item.active .text .transSend-icon {
              width: 29px;
              height: 29px;
              background: url("../img/menu-transSend-selected.png") no-repeat center center;
              background-size: contain; }

.wallet-wrapper {
  position: relative;
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  /* IE 9 */
  -moz-transform: translate3d(0, 0, 0);
  /* Firefox */
  -webkit-transform: translate3d(0, 0, 0);
  /* Safari 和 Chrome */
  -o-transform: translate3d(0, 0, 0);
  /* Opera */
  padding: 60px 0 17px;
  font-family: "Helvetica", "sans-serif" !important;
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden; }
  .wallet-wrapper.open {
    transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    /* IE 9 */
    -moz-transform: translate3d(80%, 0, 0);
    /* Firefox */
    -webkit-transform: translate3d(80%, 0, 0);
    /* Safari 和 Chrome */
    -o-transform: translate3d(80%, 0, 0);
    /* Opera */ }
  .wallet-wrapper .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #040404;
    z-index: 9999; }
    .wallet-wrapper .nav .nav-box {
      position: relative;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
      .wallet-wrapper .nav .nav-box .menu-btn {
        width: 32px;
        height: 25px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
        .wallet-wrapper .nav .nav-box .menu-btn .menu-btn-bar {
          display: block;
          width: 32px;
          height: 2px;
          background: #bebebe;
          margin-bottom: 4px; }
          .wallet-wrapper .nav .nav-box .menu-btn .menu-btn-bar.ed {
            display: block; }
          .wallet-wrapper .nav .nav-box .menu-btn .menu-btn-bar.st {
            -webkit-transform: rotate(0deg) translate(0, 0);
            -moz-transform: rotate(0deg) translate(0, 0);
            -ms-transform: rotate(0deg) translate(0, 0);
            -o-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0);
            -webkit-transition: .5s;
            transition: .5s; }
          .wallet-wrapper .nav .nav-box .menu-btn .menu-btn-bar.th {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s;
            transition: .5s; }
        .wallet-wrapper .nav .nav-box .menu-btn.menu-btn-close .menu-btn-bar.ed {
          display: none; }
        .wallet-wrapper .nav .nav-box .menu-btn.menu-btn-close .menu-btn-bar.st {
          -webkit-transform: rotate(45deg) translate(4px, 4px);
          -moz-transform: rotate(45deg) translate(4px, 4px);
          -ms-transform: rotate(45deg) translate(4px, 4px);
          -o-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
          -webkit-transition: .5s;
          transition: .5s; }
        .wallet-wrapper .nav .nav-box .menu-btn.menu-btn-close .menu-btn-bar.th {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: .5s;
          transition: .5s; }
      .wallet-wrapper .nav .nav-box .cps-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .wallet-wrapper .nav .nav-box .cps-logo img {
          width: 118px;
          height: 40px; }
      .wallet-wrapper .nav .nav-box .language-btn {
        position: relative;
        font-size: 18px;
        color: #bebebe;
        z-index: 50; }
        .wallet-wrapper .nav .nav-box .language-btn:hover .language-list {
          display: block; }
        .wallet-wrapper .nav .nav-box .language-btn .language-text {
          padding: 2px 5px; }
        .wallet-wrapper .nav .nav-box .language-btn .language-list {
          display: none;
          position: absolute;
          top: 22px;
          left: 0;
          margin: 0;
          padding: 0;
          background-color: #040404;
          list-style-type: none;
          z-index: 999; }
          .wallet-wrapper .nav .nav-box .language-btn .language-list .language-item {
            padding: 2px 5px;
            background-color: #272727; }

.container {
  width: calc(100% - 36px);
  padding: 0 18px; }

.index-wrapper .wallet-title {
  width: 100%;
  height: 62px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .index-wrapper .wallet-title .icon {
    width: 34px;
    height: 30px;
    margin-right: 5px;
    background: url("../img/wallet-icon.png") no-repeat center center;
    background-size: 100%; }
  .index-wrapper .wallet-title .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 23px;
    color: #bebebe; }
.index-wrapper .set-wallet {
  padding-top: 11px; }
  .index-wrapper .set-wallet .set-wallet-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-bottom: 11px;
    border: 1px solid #bebebe;
    border-radius: 23px;
    font-size: 19px;
    color: #bebebe; }
    .index-wrapper .set-wallet .set-wallet-item .arrow-right {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: 15px;
      background: url("../img/arrow-right.png") no-repeat center center;
      background-size: contain; }
    .index-wrapper .set-wallet .set-wallet-item.selected {
      border: 1px solid #ffffff;
      color: #000000;
      background-color: #ffffff; }
      .index-wrapper .set-wallet .set-wallet-item.selected .arrow-right {
        background: url("../img/arrow-right-selected.png") no-repeat center center;
        background-size: contain; }
.index-wrapper .hash .hash-group {
  width: 100%;
  padding: 9px 10px;
  border: 1px solid #484848;
  border-radius: 17px;
  box-sizing: border-box; }
  .index-wrapper .hash .hash-group .hash-item {
    width: 100%;
    margin-bottom: 9px;
    padding: 12px 16px;
    border-radius: 17px;
    box-sizing: border-box;
    background-color: #595959; }
    .index-wrapper .hash .hash-group .hash-item:last-child {
      margin-bottom: 0; }
    .index-wrapper .hash .hash-group .hash-item .hash-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px; }
      .index-wrapper .hash .hash-group .hash-item .hash-info .icon-key {
        position: relative;
        top: 5px;
        flex: 0 0 14px;
        width: 14px;
        height: 17px;
        margin-right: 10px;
        background: url("../img/key.png") no-repeat;
        background-size: 100%; }
      .index-wrapper .hash .hash-group .hash-item .hash-info .hash {
        flex: 1;
        line-height: 1.5;
        font-size: 14px;
        color: #ffffff;
        word-break: break-all; }
      .index-wrapper .hash .hash-group .hash-item .hash-info .copy {
        position: relative;
        top: 4px;
        flex: 0 0 24px;
        width: 24px;
        height: 23px;
        margin-left: 15px;
        background: url("../img/copy.png") no-repeat;
        background-size: 100%; }
    .index-wrapper .hash .hash-group .hash-item .transaction-log {
      margin-bottom: 8px;
      padding-left: 24px;
      font-size: 14px;
      color: #ffffff; }
    .index-wrapper .hash .hash-group .hash-item .alias {
      line-height: 1.5;
      font-size: 14px;
      color: #ffffff;
      word-break: break-all;
      cursor: pointer; }
      .index-wrapper .hash .hash-group .hash-item .alias .num {
        padding: 0 5px 0 10px; }
      .index-wrapper .hash .hash-group .hash-item .alias .icon-edit {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-top: -3px;
        margin-left: 4px;
        background: url(../img/icon-edit.png) no-repeat;
        background-size: contain;
        vertical-align: middle; }
    .index-wrapper .hash .hash-group .hash-item .btn-group {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center; }
      .index-wrapper .hash .hash-group .hash-item .btn-group button {
        padding: 0 8px;
        height: 34px;
        line-height: 34px;
        margin: 8px 10px 0 0;
        border-radius: 7px;
        text-align: center;
        font-size: 14px;
        color: #000000;
        background-color: #ffffff; }
        .index-wrapper .hash .hash-group .hash-item .btn-group button:first-child {
          margin-left: 0; }

.send-wrapper .wallet-title {
  width: 100%;
  height: 62px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .send-wrapper .wallet-title .icon {
    width: 33px;
    height: 31px;
    margin-right: 5px;
    background: url("../img/send-icon.png") no-repeat center center;
    background-size: 100%; }
  .send-wrapper .wallet-title .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 23px;
    color: #bebebe; }
.send-wrapper .main-content .send-form {
  padding: 12px 0 14px; }
  .send-wrapper .main-content .send-form .input-group {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; }
    .send-wrapper .main-content .send-form .input-group > .text {
      flex: 0 0 30px;
      width: 30px;
      margin-right: 5px;
      text-align: center;
      font-size: 14px;
      color: #ffffff; }
    .send-wrapper .main-content .send-form .input-group .dropdown-box {
      flex: 1;
      height: 36px;
      border-radius: 3px;
      max-width: calc(100% - 36px);
      background-color: #ffffff; }
      .send-wrapper .main-content .send-form .input-group .dropdown-box.type {
        flex: 0 0 123px;
        width: 123px;
        margin-left: 10px; }
    .send-wrapper .main-content .send-form .input-group input {
      flex: 1;
      width: 0;
      height: 36px;
      padding: 0 36px 0 14px;
      border-radius: 4px;
      font-size: 12px;
      color: #212121;
      background-color: #ffffff; }
  .send-wrapper .main-content .send-form .balance {
    margin-bottom: 15px;
    text-align: right;
    font-size: 14px;
    color: #ffffff; }
  .send-wrapper .main-content .send-form .slider-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px; }
    .send-wrapper .main-content .send-form .slider-group .text {
      flex: 0 0 70px;
      width: 70px;
      text-align: left;
      font-size: 14px;
      color: #ffffff;
      padding-right: 10px; }
    .send-wrapper .main-content .send-form .slider-group .slider {
      position: relative;
      flex: 1;
      height: 3px;
      border: none;
      border-radius: 2px;
      background-color: transparent; }
      .send-wrapper .main-content .send-form .slider-group .slider .ui-slider-handle {
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        margin-left: -7px;
        border: none;
        border-radius: 50%;
        background-color: #aaaaaa;
        cursor: pointer; }
        .send-wrapper .main-content .send-form .slider-group .slider .ui-slider-handle:focus {
          border: none;
          outline: none; }
    .send-wrapper .main-content .send-form .slider-group .value {
      flex: 0 0 55px;
      width: 55px;
      height: 25px;
      line-height: 25px;
      margin-left: 15px;
      padding: 0 5px;
      border-radius: 2px;
      box-sizing: border-box;
      font-size: 10px;
      color: #333b46;
      background-color: #fff; }
  .send-wrapper .main-content .send-form .miner-cost {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #ffffff; }
    .send-wrapper .main-content .send-form .miner-cost .text {
      flex: 0 0 80px;
      width: 80px;
      margin-right: 10px; }
    .send-wrapper .main-content .send-form .miner-cost .prompt-btn {
      flex: 0 0 12px;
      width: 12px;
      height: 12px;
      padding: 5px;
      margin-left: 5px;
      background: url(../img/question.png) no-repeat center center;
      background-size: 12px 12px; }
.send-wrapper .main-content .send-total .send-total-box {
  padding: 14px 14px 16px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #484848; }
  .send-wrapper .main-content .send-total .send-total-box .total-num {
    margin-bottom: 17px;
    font-size: 19px; }
    .send-wrapper .main-content .send-total .send-total-box .total-num .value {
      padding: 0 5px;
      font-size: 28px; }
    .send-wrapper .main-content .send-total .send-total-box .total-num .va {
      padding: 0 5px;
      font-size: 28px;
      word-break: break-all; }
  .send-wrapper .main-content .send-total .send-total-box .msg {
    margin-bottom: 14px;
    line-height: 1.6;
    font-size: 10px;
    color: #ffffff; }
  .send-wrapper .main-content .send-total .send-total-box .btn-group button {
    width: 100%;
    height: 37px;
    line-height: 37px;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    font-size: 22px;
    color: #131313;
    background-color: #ffffff; }
.send-wrapper .transData {
  display: none;
  padding: 20px 0;
  color: #212121;
  background-color: #ffffff; }
  .send-wrapper .transData .title {
    width: 100%;
    font-size: 18px;
    color: #212121; }
  .send-wrapper .transData .text {
    line-height: 1.5;
    margin: 12px 0;
    font-size: 14px;
    word-break: break-all; }
  .send-wrapper .transData .prompt {
    font-size: 14px; }
  .send-wrapper .transData .qr-transData .line {
    width: 100%;
    height: 2px;
    margin: 12px 0;
    background: url("../img/dotted.png") repeat-x center center; }
  .send-wrapper .transData .qr-transData .img-group {
    text-align: center;
    margin-top: 15px; }
    .send-wrapper .transData .qr-transData .img-group .qr {
      width: 150px; }
  .send-wrapper .transData .btn-group .close-transData {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000; }
.send-wrapper .model {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 262px;
  padding: 29px 10px 11px;
  border-radius: 3px;
  background-color: #dedede;
  z-index: 100; }
  .send-wrapper .model .text {
    margin: 0;
    line-height: 1.6;
    font-size: 12px;
    color: #333b46; }
  .send-wrapper .model .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url("../img/close.png") no-repeat;
    background-size: 100%; }

.receive-wrapper .wallet-title {
  width: 100%;
  height: 62px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .receive-wrapper .wallet-title .icon {
    width: 33px;
    height: 30px;
    margin-right: 5px;
    background: url("../img/receive-icon.png") no-repeat center center;
    background-size: 100%; }
  .receive-wrapper .wallet-title .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 23px;
    color: #bebebe; }
.receive-wrapper .cps-address {
  padding: 11px 0 15px; }
  .receive-wrapper .cps-address .text {
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffff; }
  .receive-wrapper .cps-address .select-wallet {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
    .receive-wrapper .cps-address .select-wallet .dropdown-box {
      flex: 1;
      max-width: calc(100% - 40px);
      height: 36px;
      border-radius: 3px;
      background-color: #ffffff; }
    .receive-wrapper .cps-address .select-wallet .copy {
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      background: url("../img/copy.png") no-repeat;
      background-size: 100%; }
.receive-wrapper .receive-qr {
  padding: 9px 17px 60px;
  border-radius: 3px;
  background-color: #484848; }
  .receive-wrapper .receive-qr .qr-address {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 22px;
    line-height: 1.6;
    font-size: 14px;
    color: #ffffff; }
    .receive-wrapper .receive-qr .qr-address .text {
      flex: 0 0 90px;
      width: 90px; }
    .receive-wrapper .receive-qr .qr-address .value {
      flex: 1;
      word-break: break-all; }
  .receive-wrapper .receive-qr .qr-img {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 0; }
    .receive-wrapper .receive-qr .qr-img img {
      width: 100%;
      height: 250px; }
    .receive-wrapper .receive-qr .qr-img .download {
      width: 100%;
      height: 30px;
      margin-bottom: 8px;
      background: #a5a5a5 url("../img/download.png") no-repeat center center;
      background-size: 20px 20px; }
      .receive-wrapper .receive-qr .qr-img .download:active {
        background: #b2b2b2 url("../img/download.png") no-repeat center center;
        background-size: 20px 20px; }
      .receive-wrapper .receive-qr .qr-img .download a {
        display: inline-block;
        width: 100%;
        height: 100%; }
    .receive-wrapper .receive-qr .qr-img .text {
      text-align: center;
      font-size: 14px;
      color: #ffffff; }

.transLog-wrapper .wallet-title {
  width: 100%;
  height: 62px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .transLog-wrapper .wallet-title .icon {
    width: 31px;
    height: 31px;
    margin-right: 5px;
    background: url("../img/transLog-icon.png") no-repeat center center;
    background-size: 100%; }
  .transLog-wrapper .wallet-title .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 23px;
    color: #bebebe; }
.transLog-wrapper .wallet-address {
  padding: 11px 0 11px; }
  .transLog-wrapper .wallet-address .text {
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffff; }
  .transLog-wrapper .wallet-address .input-group {
    flex: 1;
    height: 24px;
    margin-bottom: 8px; }
    .transLog-wrapper .wallet-address .input-group input {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      color: #000000;
      background-color: #ffffff; }
  .transLog-wrapper .wallet-address .dropdown-box {
    flex: 1;
    height: 36px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #ffffff; }
  .transLog-wrapper .wallet-address .btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
    .transLog-wrapper .wallet-address .btn-group button {
      height: 34px;
      line-height: 34px;
      padding: 0 10px;
      margin-right: 8px;
      border-radius: 7px;
      text-align: center;
      font-size: 14px;
      color: #131313;
      background-color: #bfbfbf; }
      .transLog-wrapper .wallet-address .btn-group button:last-child {
        margin-right: 0; }
.transLog-wrapper .transLog-list {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #484848; }
  .transLog-wrapper .transLog-list .transLog-item {
    margin-bottom: 8px;
    padding: 7px 9px;
    border-radius: 3px; }
    .transLog-wrapper .transLog-list .transLog-item:nth-child(odd) {
      background-color: #343434; }
    .transLog-wrapper .transLog-list .transLog-item:nth-child(even) {
      background-color: #606060; }
    .transLog-wrapper .transLog-list .transLog-item:last-child {
      margin-bottom: 0; }
    .transLog-wrapper .transLog-list .transLog-item .hash {
      margin-bottom: 8px;
      line-height: 1.5;
      font-size: 12px;
      color: #ffffff;
      word-break: break-all; }
      .transLog-wrapper .transLog-list .transLog-item .hash span {
        padding: 0 5px; }
    .transLog-wrapper .transLog-list .transLog-item .trans-info {
      font-family: "Helvetica", "sans-serif" !important;
      font-size: 12px;
      color: #ffffff; }
      .transLog-wrapper .transLog-list .transLog-item .trans-info .eth {
        margin-right: 15px; }

.transSend-wrapper .wallet-title {
  width: 100%;
  height: 62px;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .transSend-wrapper .wallet-title .icon {
    width: 29px;
    height: 29px;
    margin-right: 5px;
    background: url("../img/transSend-icon.png") no-repeat center center;
    background-size: 100%; }
  .transSend-wrapper .wallet-title .text {
    display: inline-block;
    line-height: 1.5;
    font-size: 23px;
    color: #bebebe; }
.transSend-wrapper .textarea {
  padding: 11px 0 10px; }
  .transSend-wrapper .textarea textarea {
    width: 100%;
    height: 210px;
    line-height: 1.5;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    word-break: break-all; }
.transSend-wrapper .prompt {
  line-height: 1.5;
  margin-bottom: 14px;
  font-size: 12px;
  color: #ffffff; }
.transSend-wrapper .btn-group button {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0;
  border-radius: 2px;
  font-size: 22px;
  color: #131313;
  background-color: #ffffff; }

/*# sourceMappingURL=wallet.css.map */
